body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size:16px;
}

.nav-link {
    padding-left: 0 !important;
    padding-right:0 !important;
    margin-left:10px !important;
    margin-right: 10px !important;
    color:#151515 !important;
    
}
.nav-link:hover {
    color: rgb(20, 18, 149) !important;
}
.form-control {
   
    padding: 18px !important;
    /* border-bottom: 1px solid #c1c2c2e0 !important; */
}

.form-control-dd {
    height:45px;
    border-radius: 0 !important;
    /* border-bottom: 1px solid #c1c2c2e0 !important; */
}
    .form-control:focus {
        border: 1px solid black !important;
        box-shadow: none !important;
    }
input::placeholder{
    font-size: 14px;
}
textarea::placeholder {
    font-size: 14px;
}
textarea.form-control {
   /* border: 1px solid #c1c2c2e0 !important;*/
}

/*.form-select{
    border: 0 !important;
    border-radius:0 !important;
    margin-left: 10px !important;
    padding-left:0 !important;
}*/
    .form-select:focus{
    box-shadow:none !important;
}
.list-style {

    font-size: 16px;
    font-weight: bold;
}
.dva-form-control {
    border: 1px solid black !important;
}

.form-control-ndis {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-select-ndis {
    --bs-form-select-ndis-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
