@if (Istrue)
{
    <!--<div class="d-flex justify-content-center">-->
    @* <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />*@

    <!--<div class="text-center mt-5">-->
    @*<div class="ajax-loading  mt-5 text-info" style="width: 4rem; height: 4rem;" role="status">*@
    <!--<div class="ajax-loading  mt-5 text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>-->
   <!--New-->
<style>
        .loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
}
.loader {
    border: 10px solid #f3f3f3;
            border-top: 10px solid #141295;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
@@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
<div class="loader-container">
    <div class="loader"></div>
</div>
}
